<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
     <!-- <img src="restaurant.png">
     -->
     <i class="bi bi-building dp"></i>
    <h1 class="display-3">Welcome to Mess Portal</h1>
    <p class="lead">We are excited to introduce our new Mess Portal, designed to streamline your dining experience on campus. With our user-friendly interface, you can now easily access daily menus, pre-order meals, provide feedback, and stay updated on special events and promotions.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
